asgiref     == 3.8.1
Django      == 5.1.6
lark-parser == 0.12.0
pillow      == 11.1.0
pip         == 23.2.1
required    == 0.4.0
shell       == 1.0.1
six         == 1.17.0
sqlparse    == 0.5.3
tzdata      == 2025.1
